<p>Listado de Heroes</p>

<ul>
    <li *ngFor='let heroe of heroes; let i = index'>
        {{i+1}}-{{heroe}}
    </li>
</ul>
<!-- Es un for o un map mucho mas facil -->

<button (click)='borrarHeroe()'>Borrar</button>

<div *ngIf="heroeBorrado;else noBorrado"> <!-- ES UN IF Y LLAMO AL TEMPLATE POR SU REFERENCIA (SIMILAR A ID)-->
    <p>Heroe borrado</p>
    <p>{{heroeBorrado}}</p>
</div>

<ng-template #noBorrado>
    <p>No ha borrado nada</p>
</ng-template> 
<!-- NO SE MUESTRA EN EL HTML EL TEMPLATE -->